@charset "UTF-8";

/* =============================================
 テーブル共通
============================================= */

table.nt_wpcf7sn .column-mail_tag {
	width: 20%;
}
table.nt_wpcf7sn .column-setting {
	width: auto;
}
table.nt_wpcf7sn .column-count {
	width: 15%;
}

table.nt_wpcf7sn h4 {
	box-sizing: border-box;
	width: 100%;
	height: fit-content;
	margin: 0 0 5px;
	padding: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #dddddd;
}

table.nt_wpcf7sn .item {
	padding: 2px 0;
}

table.nt_wpcf7sn .item.radio,
table.nt_wpcf7sn .item.check {
	white-space: nowrap;
}

table.nt_wpcf7sn .pattern {
	display: inline-block;
}


/* =============================================
 テーブルカラム：メールタグ
============================================= */

table.nt_wpcf7sn td.mail_tag h4.form-title {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-right: 5px;
	background: #0085ba;
	color: #fff;
}
table.nt_wpcf7sn td.mail_tag h4.form-title .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.nt_wpcf7sn td.mail_tag .item-box.mail_tag input[type="text"] {
	width: 100%;
	background: transparent;
	border: none;
}

/* =============================================
 テーブルカラム：設定
============================================= */

table.nt_wpcf7sn td.setting form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
table.nt_wpcf7sn td.setting .item-box.type,
table.nt_wpcf7sn td.setting .item-box.option {
	box-sizing: border-box;
	flex: 1 0 calc(100%/2);
	padding: 8px;
	outline: 1px solid #ddd;
	outline-offset: -4px;
}
table.nt_wpcf7sn td.setting .item-box.update {
	padding: 2px;
	width: 100%;
	text-align: right;
}

table.nt_wpcf7sn td.setting input[type="text"]  {
	margin: 0 5px;
}

table.nt_wpcf7sn td.setting .item-box.update .item {
	display: inline-block;
}
table.nt_wpcf7sn td.setting .item-box.update .item.example {
	margin-right: 10px;
}


/* =============================================
 テーブルカラム：カウント
============================================= */

table.nt_wpcf7sn td.count .item-box.count {
	padding: 8px;
	outline: 3px double #aaa;
	outline-offset: -4px;
}

table.nt_wpcf7sn td.count .item {
	display: inline-block;
}
